.footer {
    grid-area: footer;
    background-color: #C7DBDA;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: black;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}
