.header {
    grid-area: header;
    background-color: #F7EEDF;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: black;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}
